openapi: 3.0.2
x-stoplight:
  id: ret53ashiby62
info:
  title: Integration Health
  version: 2.4.1
  description: Integration health check API
paths:
  /api/public/integration-health:
    post:
      summary: Get integration health
      description: 'Retrieves the health status of various integrations, including issues and timestamps. Optionally filter by advertiser name and include pixel data.'
      security:
        - BearerAuth: []
      servers:
        - url: 'https://backend.podscribe.ai/'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              oneOf:
                - title: undefined/empty object
                  type: object
                  description: No body or empty object - returns all advertisers without pixel data
                  example: {}
                - title: provided object
                  type: object
                  properties:
                    advertiserName:
                      type: string
                      description: The advertiser name to filter results
                      example: demoAdvertiser
                    withPixels:
                      type: boolean
                      description: Whether to include pixel data in the response (requires advertiserName to be provided)
                      example: false
      responses:
        '200':
          description: Successfully retrieved integration health
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      description: The name of the integration
                    lookupName:
                      type: string
                      description: The lookup name of the integration
                    issues:
                      type: array
                      description: List of issues related to the integration
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                            description: The type of issue
                          reported_at:
                            type: string
                            format: date-time
                            description: The timestamp when the issue was last reported
                          actions:
                            type: array
                            items:
                              type: string
                            description: 'List of actions associated with the issue (only included when withPixels is true). Actions array will be provided with each issue. If specified, the issue is only related to these actions. Otherwise, the issue is overall and either not related to specific actions or related to all actions.'
                            example:
                              - purchase
                              - signup
                    pixels:
                      type: array
                      description: List of pixel data (only included when withPixels is true)
                      items:
                        type: object
                        properties:
                          action:
                            type: string
                            description: The action type
                          last_url:
                            type: string
                            description: The URL of the last event which triggered the pixel
                          last_seen:
                            type: string
                            format: date-time
                            description: The timestamp when the pixel was triggered
        '400':
          description: Bad Request - Invalid request body
          content:
            application/json:
              schema:
                $ref: ./schemas/Error.yaml
        '500':
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: ./schemas/Error.yaml
      x-stoplight:
        id: ugurtj4c8s1uo
